@charset 'utf-8';

@import 'settings';
@import 'foundation';
@import 'motion-ui';

@include foundation-global-styles;
//@include foundation-grid;
@include foundation-flex-grid;
@include foundation-typography;
@include foundation-button;
@include foundation-forms;
// @include foundation-range-input;
@include foundation-accordion;
@include foundation-accordion-menu;
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-button-group;
@include foundation-callout;
@include foundation-close-button;
@include foundation-menu;
@include foundation-menu-icon;
@include foundation-drilldown-menu;
@include foundation-dropdown;
@include foundation-dropdown-menu;
@include foundation-flex-video;
@include foundation-label;
@include foundation-media-object;
@include foundation-off-canvas;
@include foundation-orbit;
@include foundation-pagination;
@include foundation-progress-bar;
// @include foundation-progress-element;
// @include foundation-meter-element;
@include foundation-slider;
@include foundation-sticky;
@include foundation-reveal;
@include foundation-switch;
@include foundation-table;
@include foundation-tabs;
@include foundation-thumbnail;
@include foundation-title-bar;
@include foundation-tooltip;
@include foundation-top-bar;
@include foundation-visibility-classes;
//@include foundation-float-classes;
@include foundation-flex-classes;

@include motion-ui-transitions;
@include motion-ui-animations;

.back {
	background: rgba(226,226,226,1);
background: -moz-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, rgba(254,254,254,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(226,226,226,1)), color-stop(50%, rgba(219,219,219,1)), color-stop(51%, rgba(209,209,209,1)), color-stop(100%, rgba(254,254,254,1)));
background: -webkit-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, rgba(254,254,254,1) 100%);
background: -o-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, rgba(254,254,254,1) 100%);
background: -ms-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, rgba(254,254,254,1) 100%);
background: linear-gradient(to bottom, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, rgba(254,254,254,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe', GradientType=0 );
}


.frontboxes {
	height: 150px;
	border-radius: 10px;
	background-color: #e6e6e6;
	margin-top: 10px;
	padding-top: 10px;
}

img{
  height: 100%;
  width: 100%;
}

.logo{
  height:50px;
  width: 100px;
}

.misvis {
	color: white;
	border-radius: 15px;
	padding-bottom: 5px;
	font-size: 20px;
}

.header {
background: rgba(212,212,212,1);
background: -moz-linear-gradient(top, rgba(212,212,212,1) 0%, rgba(205,205,205,0.42) 45%, rgba(204,204,204,0.42) 50%, rgba(194,194,194,0.42) 51%, rgba(237,237,237,0.42) 93%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(212,212,212,1)), color-stop(45%, rgba(205,205,205,0.42)), color-stop(50%, rgba(204,204,204,0.42)), color-stop(51%, rgba(194,194,194,0.42)), color-stop(93%, rgba(237,237,237,0.42)));
background: -webkit-linear-gradient(top, rgba(212,212,212,1) 0%, rgba(205,205,205,0.42) 45%, rgba(204,204,204,0.42) 50%, rgba(194,194,194,0.42) 51%, rgba(237,237,237,0.42) 93%);
background: -o-linear-gradient(top, rgba(212,212,212,1) 0%, rgba(205,205,205,0.42) 45%, rgba(204,204,204,0.42) 50%, rgba(194,194,194,0.42) 51%, rgba(237,237,237,0.42) 93%);
background: -ms-linear-gradient(top, rgba(212,212,212,1) 0%, rgba(205,205,205,0.42) 45%, rgba(204,204,204,0.42) 50%, rgba(194,194,194,0.42) 51%, rgba(237,237,237,0.42) 93%);
background: linear-gradient(to bottom, rgba(212,212,212,1) 0%, rgba(205,205,205,0.42) 45%, rgba(204,204,204,0.42) 50%, rgba(194,194,194,0.42) 51%, rgba(237,237,237,0.42) 93%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d4d4d4', endColorstr='#ededed', GradientType=0 );
border-radius: 15px;
border-bottom-right-radius: 0px;
border-bottom-left-radius: 0px;
}

.footer {
	background: rgba(212,212,212,1);
background: -moz-linear-gradient(top, rgba(212,212,212,1) 0%, rgba(205,205,205,0.42) 45%, rgba(204,204,204,0.42) 50%, rgba(194,194,194,0.42) 51%, rgba(237,237,237,0.42) 93%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(212,212,212,1)), color-stop(45%, rgba(205,205,205,0.42)), color-stop(50%, rgba(204,204,204,0.42)), color-stop(51%, rgba(194,194,194,0.42)), color-stop(93%, rgba(237,237,237,0.42)));
background: -webkit-linear-gradient(top, rgba(212,212,212,1) 0%, rgba(205,205,205,0.42) 45%, rgba(204,204,204,0.42) 50%, rgba(194,194,194,0.42) 51%, rgba(237,237,237,0.42) 93%);
background: -o-linear-gradient(top, rgba(212,212,212,1) 0%, rgba(205,205,205,0.42) 45%, rgba(204,204,204,0.42) 50%, rgba(194,194,194,0.42) 51%, rgba(237,237,237,0.42) 93%);
background: -ms-linear-gradient(top, rgba(212,212,212,1) 0%, rgba(205,205,205,0.42) 45%, rgba(204,204,204,0.42) 50%, rgba(194,194,194,0.42) 51%, rgba(237,237,237,0.42) 93%);
background: linear-gradient(to bottom, rgba(212,212,212,1) 0%, rgba(205,205,205,0.42) 45%, rgba(204,204,204,0.42) 50%, rgba(194,194,194,0.42) 51%, rgba(237,237,237,0.42) 93%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d4d4d4', endColorstr='#ededed', GradientType=0 );


	border-top-left-radius: 0px ;
	border-top-right-radius: 0px ;
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;

  
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.mis {
	background-color: #019054;
}

.vis {
	background-color: #047c88;
}

.social {
	color: #CE3000;
}
.title {
	font-size: 28px;
	color: #CE3000;
}

.caro {
	height: inherit;
	width: inherit;
}
.glass {
  position: relative;
  padding: 10px 0;
  border-bottom: 1px solid;
  border-bottom-color: #ccc;
  border-bottom-color: rgba(255, 255, 255, 0.2);
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  height: 140px;
  border-radius: 5px;
}


.glass::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-image: url("https://www.transparenttextures.com/patterns/translucent-fibres.png"), url("https://www.transparenttextures.com/patterns/translucent-fibres.png");
  background-position: center bottom;
  background-attachment: fixed;
  background-size: cover;
  content: "";
  filter: url("https://www.transparenttextures.com/patterns/translucent-fibres.png");
  -webkit-filter: blur(5px);
  filter: blur(5px);
}

.glass .legacy-ie-fix {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=20)";
}

.glass h3 p {
  position: relative;
  margin: 0;
  color: #fff;
  color: rgba(73, 73, 73, 0.3);
  font-size: 45px;
  font-weight: normal;
  font-family: "Megrim", sans-serif;
  line-height: 1;
  text-align: center;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=50)";
}

.glass p {
  position: relative;
  margin: 0;
  color: #fff;
  color: rgba(10, 10, 10, 0.6);
  font-size: 20px;
  font-weight: normal;
  font-family: "Megrim", sans-serif;
  line-height: 1;
  text-align: center;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=50)";
}

.ht280 {
	height: 280px;
}
.midle {
	//padding-top: 10px;
	//padding-bottom: 0px;
	vertical-align: bottom;
}
@media only screen {
  .glass h1 {
    -ms-filter: "none";
  }
}

