<div class="row header">
 
 <div class="large-2 medium-4 small-6">
   <p>© 2016 </p>
 </div>

 <div class="large-2 medium-4 small-4">
   <i class="fa fa-facebook-square fa-3x social" aria-hidden="true"></i>
 </div>
  <div class="large-2 medium-4 small-4">
   <i class="fa fa-twitter-square fa-3x social" aria-hidden="true"></i>
 </div>
  <div class="large-2 medium-4 small-4">
   <i class="fa fa-envelope fa-3x social" aria-hidden="true"></i>
 </div>

  <div class="large-2 medium-3 small-6 float-right">
    <img src="{{root}}assets/img/logo_orig.gif" height="65" width="100"/>
 </div>
</div>