<div class="row footer">

 <div class="small-2 medium-2 large-2 columns">
    <i class="fa fa-copyright fa-1x social" aria-hidden="true">2016</i>
 </div>

 <div class="small-2 medium-2 large-2 columns">
   <i class="fa fa-facebook-square fa-2x social" aria-hidden="true"></i>
 </div>
  <div class="small-2 medium-2 large-2 columns">
    <div class="midle">
   <i class="fa fa-twitter-square fa-2x social" aria-hidden="true"></i>
    </div>
 </div>
  <div class="small-2 medium-2 large-2 columns">
    <div class="midle">
   <i class="fa fa-envelope fa-2x social" aria-hidden="true"></i>
    </div>
 </div>
  <div class="small-2 medium-2 large-2 columns">
  
 </div>
  <div class="small-2 medium-2 large-2 columns">
    <img src="{{root}}assets/img/logo_orig.gif" style="height: 45px;"/>
 </div>

</div>