<div class="row">
  <div class="large-12 medium-12 small-12 columns">
    <div class="top-bar header">
      <div class="top-bar-title title">
        <span>
          <span data-responsive-toggle="responsive-menu" data-hide-for="medium">
                <button class="menu-icon dark" type="button" data-toggle></button>
          </span>
          <span >
            <img class="logo" src="{{root}}assets/img/logo_orig.gif" />
          </span>
        </span>
      </div>

      <div id="responsive-menu">
        <div class="top-bar-right">
          <ul class="vertical medium-horizontal menu header" data-dropdown-menu>
            <li><a href="/">Home</a></li>
            <li><a href="/company.html">Company</a></li>
            <li><a href="/services.html">Services</a></li>
            <li><a href="/contacts.html">Career</a></li>
            <li><a href="/contacts.html">Contact</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>