<div class="row">
  <div class="large-12 medium-6 small-3 columns">
<div class="top-bar header">
  <div class="top-bar-title title" >
  <span data-responsive-toggle="responsive-menu" data-hide-for="medium">
      <button class="menu-icon dark" type="button" data-toggle></button>
    </span>
    <div>
    <img src="{{root}}assets/img/logo_orig.gif" height="65" width="100"/>
    </div>
  </div>
   <div id="responsive-menu">
    <div class="top-bar-right">
      <ul class="vertical medium-horizontal menu" data-dropdown-menu>
      
      <li><a href="#">Home</a></li>
      <li><a href="#">Company</a></li>
      <li><a href="#">Services</a></li>
      <li><a href="#">Career</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </div>
    </div>
</div></div>
</div>